<div class = "container text-center">
    <h1 class = "eatburger">
        Eat the Burger
    </h1>
    <p class = "burgerNumber">
        Keep Track of How many burgers you have eaten.
    </p>
    <form action = "/burgers/create" method = "POST">
        <div class = "form-group">
            <input class="form-control" name="burger" type="text" placeholder="Burger"></input>
            <br>
            <button type="submit" class="btn btn-success">Add Burger</button>
        </div>
    </form>
</div>

<div class = "container text-center">
    <div class = "row">
        <div class = "col">
            <h2>Uneaten Burgers</h2>
            <h3>Click on Burger to eat it</h3>
            {{#each burgerData}}
            {{#unless this.devoured}}
            <div class = "col text-center">
                <form>
                    <div class = "form-group">
                        <button type = "submit" class="btn btn-primary" value = {{this.id}}>{{this.id}}. {{this.name}}</button>
                    </div>
                </form> 
            </div>
            {{/unless}}
            {{/each}}
        </div>
       <div class = "col">
           <h2>Eaten Burgers</h2>
           {{#each burgerData}}
           {{#if devoured}}
           <div class = "new">
               <form>
                   <div class = "form-group">
                <button type = "button" class = "btn btn-success">{{this.name}}</button>
                </div>
                </form>
            </div>
            {{/if}}
            {{/each}}
       </div>

    </div>
</div>